/*
THEME NAME: SchoolPress School Theme
THEME URI: http://schoolpress.me/school-theme/
DESCRIPTION: Theme for SchoolPress Schools
VERSION: 0.1
AUTHOR: Kim Coleman
AUTHOR Uri: http://strangerstudios.com
TAGS: startbox, child, tag
TEMPLATE: startbox
*/
@import url("../startbox/style.css");

body {font-family: 'Open Sans', sans-serif; background: #108a93; color: #555; }
h1, h2, h3, h4, h5 {font-family: 'Open Sans', sans-serif; font-weight: 300; }
h1.page-title {padding: 0 0 20px 0; border-bottom: 1px solid #DEDEDE; margin: 0 0 40px 0; }
a {color: #108a93; }
a:hover {color: #35b2bb; }
a:visited {color: #108a93; }
.btn-info:visited {color: #FFF; }
.label a, .label a:visited {color: #FFF; }

#wrap, #footer_wrap {
	width: 100%; 
}

#header, #container, .layout-two-col-right div#container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	float: none;
}

#header_wrap, #footer_wrap {background: #108a93; }
#header_wrap {border-bottom: 1px solid #EEE; }
#footer_wrap {border-top: 1px solid #EEE; }
#container_wrap {background: #FFF; padding-bottom: 50px; }
#container {padding-top: 50px; padding-bottom: 50px; border-bottom: 1px solid #EEE; }
.layout-two-col-right #container #content {margin: 0; float: left; width: 750px;  }

#logo {margin: 35px 0 25px 0; }
#logo #site-title a {color: #FFF; font-size: 50px; font-family: 'Sanchez', 'Garamond', serif; }
#logo #site-title a:hover {text-decoration: none; }
#header .btn-group {margin-top: 32px; margin-left: 30px; }
.nav-sb_header {clear: none; border: none; margin: 0 auto; height: auto; font-weight: 300; float: right; text-align: right; width: auto; padding: 35px 0; }
.nav li a, .nav li a:visited {color: #FFF; text-decoration: none; font-size: 24px; padding: 0; margin: 0 30px; }
.nav li:hover a, .nav li:hover a:visited, .nav li a:hover, .nav li a:active, .nav li a:focus, .nav li.current-menu-item a, .nav li.current-menu-item a:visited, .nav li.current-menu-ancestor a, .nav li.current-menu-ancestor a:visited {color: #FFF; border-color: #FFF; }

.page-login .nav, .page-lostpassword .nav {display: none; }

#footer, #footer a {color: #FFF; }
#footer a {text-decoration: underline; }

.divider {margin: 50px 0; }
.clear {clear: both; }
span.label-block {display: block; text-align: left; }

.alt_wrap {background: #FAFAFA; padding: 0 0 50px 0; border-top: 1px solid #FFF; border-bottom: 1px solid #ddd;}
.home .alt_wrap {padding-top: 50px; }
.alt2_wrap {background: #563d7c; padding: 50px 0; border-top: 1px solid #FFF; color: #FFF; }

.home .alt_wrap {text-align: center; }
.alt_wrap h1, .alt_wrap h2, h2.page-title {font-family: 'Sanchez', 'Garamond', serif; color: #563d7c; font-size: 32px; margin: 0; border: none; padding: 0; }
.alt_wrap p {font-size: 22px; line-height: 30px; font-weight: 300; margin: 15px 0 0 0;  }

.page-login #container, .page-lostpassword #container, .page-resetpass #container {width: 40%; margin: 0 auto; }
.login {padding: 0; }
.entry-content .tml-action-links{padding-left:0; margin: 0 0 30px 0;list-style:none}.entry-content .tml-action-links>li{display:inline-block;padding-right:10px;}
.entry-content .login p.message {background-color: #fcf8e3;color: #8a6d3b;margin: .5em 0;padding: 10px 15px;font-size: 14px;font-weight: 400;line-height: 1.5em;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border: 1px solid #faebcc;}

/* Paid Memberships Pro Styles */
.pmpro_btn, .pmpro_btn:link, .login input[type=submit], .button, .button:active {background: #563d7c; color: #FFF; font-weight: 400; border: none; padding: 6px 12px; border-radius: 4px; font-size: 14px; line-height: 1.42857143; box-shadow: none; margin: 0; text-shadow: none; font-family: 'Open Sans', sans-serif;  }
.pmpro_btn:hover, .login input[type=submit]:hover, .button:hover {background: #522990; box-shadow: none; color: #fff; }
.pmpro_btn:visited {color: #FFF; }

.pmpro-levels .page {text-align: center; }
.pmpro-levels h1.page-title { }
.pmpro_level {text-align: center; }
.pmpro_level h2 {color: #563d7c; font-size: 40px; font-weight: 300; }
.pmpro_level .pmpro_btn {display: block; margin: 0 25%; }

/* SchoolPress Classes */
.home-page .class, .type-page .class, .search .class {border-top: 1px solid #ddd; padding: 1em 0; margin: 1.2em 0; }
.class .entry-photo {float: left; margin: 0 18px 18px 0; }
.class .entry-meta {margin-bottom: 5px; }
.class h2.entry-title {clear: none; }
.class .alt_wrap .post-thumbnail {float: right; }
#bbpress-forums .bbp-pagination {width: auto; }

ul.breadcrumb {margin: 0 0 30px 0; background: none; font-size: 11px; padding: 0; }
ul.media-list {margin-left: 0; }

#subscription-toggle {margin-left: 10px; }

.widget {min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: whiteSmoke;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.widget .widget-title {font-family: 'Sanchez', 'Garamond', serif; color: #563d7c; font-size: 20px; margin: 0 0 .5em 0; border: none; padding: 0; }

.widget ul {border: none; }
.widget li {list-style: disc; color: #AAA; margin: 3px 0 3px 25px; }
.widget li a {border: none; padding: 0; }
.widget li a:hover, .widget li a:active {
    background:none;
    color: inherit;
	text-decoration: none;
}

@media (min-width:768px){
	#header, #container, .layout-two-col-right div#container, #footer {width: 750px; }
}

@media (min-width:992px){
	#header, #container, .layout-two-col-right div#container, #footer {width: 960px; }
}

@media (min-width:1200px){
	#header, #container, .layout-two-col-right div#container, #footer {width: 1170px; }
}

/* Delete links */
a.link-delete, a.link-cancel, a.link-delete:visited, a.link-cancel:visited {color:#a94442}